#logOut{
    position: absolute;
    top: 8%;
    left: 92%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    height: 3.5%;
}

#welcome{
    position: absolute;
    top: 5%;
    left: 7%;
    font-weight: bold;
}

.search{
    position: absolute;
    top: 8%;
    left: 45%;
    transform: translate(-50%, -50%);
    height: 2.5%;
    width: 40%;
    border-radius: 16px;
}

#searchButton{
    position: absolute;
    top: 8%;
    left: 68%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    height: 3.5%;
}

#homeButton{
    position: absolute;
    top: 8%;
    left: 83%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    height: 3.5%;
}