body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullName{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.header1{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.last{
    /* position: absolute; */
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.loginButton{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.offscreen{
    position: absolute;
    left: -9999px;
}

.signUpContainer{
    position: absolute;
    box-shadow: 5px 5px 10px 2px rgba(187, 186, 186, 0.8);
    width: 450px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
}

.pass{
    position: relative;
    top: 260px;
}

.statusSign{
    position: absolute;
    font-size: 90%;
    color: red;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title1{
    font-size: 60px;
    color: rgb(0, 119, 255);
}

#uidnote, #passwordNote{
    text-align: left;
    font-size: 12px;
}

.instructions{
    position: absolute;
    left: 16%;
    background-color: rgb(193, 222, 255);
    z-index: 9999;
    padding: 10px;
}

.user{
    position: relative;
    top: 225px;
}